
  @import '../../../styles/mixins.scss';
  @import '../../../styles/variables';
  @import '../../../styles.scss';
  
  .header {
    background-color: var(--primary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: px-to-rem(12) px-to-rem(30);
    @include flex-center ();

    @media (max-width: 768px) {
      justify-content: end;
     }
    
    .logo-container img{
        height: 45px;
    }

    .logo-container{
    @media (max-width: 768px) {
     display: none;
    }
    }
  
    .theme-toggle {
      background: none;
      border: none;
      color: var(--text-color);
      cursor: pointer;
    }
    .header-right{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .links{
        display: flex;
        gap: 20px;
    }

    .links a{
        text-decoration: none;
        color: $accent-color;
    }
  } 