<div class="child-two">
  <div class="content">
    <h2>ShopEase Your One-Stop Online <br> Shopping Destination</h2>
    <p class="description">ShopEase is a modern e-commerce platform designed to provide customers with a seamless and enjoyable 
      shopping experience. We offer a wide range of high-quality products across various categories, including fashion, electronics,
       home goods, and more. Our intuitive interface makes it easy to browse, compare, and purchase items with just a few clicks. 
       With secure payment options, fast shipping, and dedicated customer support, ShopEase ensures a convenient and trustworthy 
       shopping environment. .</p>
    <button class="button">Learn More</button>
  </div>
  <div class="image-container">
    <img src="/assets/Images/clothes.jpg" alt="Product Image" class="product-image" />
  </div>
</div>
