@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/functions';
@import 'styles/themes';

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
  }
body.light-theme {
    @include theme($light-theme);
  }
  
  body.dark-theme {
    @include theme($dark-theme);
  }