
.products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1rem;
    margin-bottom: 2.5rem;
    padding-top: 30px;
  
    @media (max-width: 1400px) {
        grid-template-columns: repeat(3, 1fr); 
      }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; 
    }

    .product{
        font-weight: bold;
        background: #74A7A9;
    }
  
    .product-item {
      position: relative;
      margin-bottom: 3.5rem;
      border: 2px solid #74A7A9;
      border-radius: 10px;
  
      .image-container {
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 1rem;
  
        @media (max-width: 640px) {
          height: 250px;
        }
  
        .product-image {
          width: 100%;
          height: 250px;
          object-fit: cover;
          transition: transform 0.5s ease-in-out;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
  
      .product-info {
        margin: 1rem;
  
        .product-title {
          font-size: 1rem;
        }
  
        .product-category {
          font-weight: 600;
          font-size: 1rem;
          word-break: break-word;
        }
  
        .product-price {
          font-weight: 600;
          color: #74A7A9;
          font-size: 1.25rem;
  
          @media (max-width: 640px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  
  .loading-message {
    text-align: center;
    color: #666666;
  }
  